@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --text-primary: #181818;
  --background-primary: #e6e6e6;
  --background-secondary: #d9d9d9;
  --component-primary: #ffda00;
  --component-secondary: #181818;
  --icon-primary: #181818be;
  --weight-componentes: 900;
  --weight-tittle: 800;
  --weight-subtittle: 700;
  --weight-texto: 500;
  --family-primary: "Montserrat", sans-serif;
  --family-secondary: Helvetica, Arial, sans-serif; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline; }

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--family-primary);
  color: var(--text-primary);
  background-color: var(--background-primary);
  hyphens: auto; }
  body::-webkit-scrollbar {
    width: 0.5rem; }
  body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1rem; }

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block; }

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

p a {
  display: inline; }

li {
  list-style-type: none; }

html {
  scroll-behavior: smooth; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: inherit; }

::-moz-selection {
  background-color: var(--text-primary);
  color: var(--background-primary); }

::selection {
  background-color: var(--text-primary);
  color: var(--background-primary); }

form,
input,
textarea,
select,
button,
label {
  display: block;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  appearance: none;
  -webkit-appearance: none; }

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0; }

svg {
  display: block;
  width: 100%;
  fill: currentColor; }

[data-fade] {
  animation: fade 2500ms forwards; }

@keyframes fade {
  0% {
    transform: translateY(20%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

[data-delay="300"] {
  animation-delay: 300ms; }

[data-delay="500"] {
  animation-delay: 500ms; }

[data-delay="700"] {
  animation-delay: 700ms; }

[data-delay="900"] {
  animation-delay: 900ms; }

[data-delay="1100"] {
  animation-delay: 1100ms; }

[data-delay="1300"] {
  animation-delay: 1300ms; }

[data-delay="1500"] {
  animation-delay: 1500ms; }

.header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: "logo nav cart" auto / 1fr 1fr 1fr;
  position: sticky;
  top: -100%;
  z-index: 1;
  padding: clamp(0.5rem, 1rem, 2rem); }
  .header-logo {
    grid-area: logo;
    width: clamp(3.5rem, 5.5vw, 11rem); }
  .header-cart {
    grid-area: cart;
    position: relative;
    width: clamp(2.5rem, 3.5vw, 7rem); }
  .header-badge {
    position: absolute;
    right: -10%;
    top: -10%;
    font-size: clamp(0.85rem, 1.3vw, 2.6rem);
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding: 0.25em; }
  .header-sticky {
    background-color: var(--background-primary);
    top: 0;
    transition: top 550ms ease; }

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(2.5rem, 5vw, 10rem); }

.nav-a {
  font-size: clamp(0.75rem, 1.5vw, 3rem);
  font-weight: 800; }

@media screen and (max-width: 480px) {
  .nav {
    display: none; } }

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(0rem, 2.5vw, 5rem);
  padding: clamp(1.25rem, 2.5vw, 5rem) 0; }
  .cart-title {
    font-size: clamp(2rem, 4vw, 8rem);
    font-weight: 900; }
  .cart-content {
    max-height: 30vh;
    overflow-y: scroll; }
    .cart-content::-webkit-scrollbar {
      width: 0.5rem; }
    .cart-content::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 1rem; }
  .cart-product {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: "image art info" auto / 1fr 1fr 1fr;
    max-width: 75vw;
    position: relative; }
  .cart-picture {
    grid-area: image;
    max-width: 60%; }
  .cart-art {
    grid-area: art;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cart-name {
    font-size: clamp(0.85rem, 1.5vw, 3rem);
    font-weight: bold; }
  .cart-color, .cart-description {
    color: grey;
    font-size: clamp(0.6rem, 1vw, 2rem);
    font-weight: bold; }
  .cart-price {
    font-size: clamp(0.75rem, 1.3vw, 2.6rem);
    font-weight: bold; }
  .cart-info {
    grid-area: info;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(0.75rem, 1.5vw, 3rem); }
  .cart-btn {
    width: clamp(1.75rem, 2.5vw, 5rem);
    border-radius: 100%;
    padding: 0.25em;
    background-color: lightgrey; }
  .cart-delete {
    position: absolute;
    right: 3%;
    background-color: transparent; }
  .cart-quantity, .cart-total {
    font-size: clamp(0.85rem, 1.5vw, 3rem);
    font-weight: bold; }
  .cart-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: clamp(0.65rem, 1.25vw, 2.5rem); }
  .cart-off {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: clamp(0.5rem, 1vw, 2rem); }
  .cart-cupon {
    width: 100%;
    font-size: clamp(0.75rem, 1.3vw, 2.6rem);
    font-weight: bold;
    border: grey 1px solid;
    border-radius: 3rem;
    padding: 1em 2em; }
    .cart-cupon::placeholder {
      font-size: clamp(0.75rem, 1.3vw, 2.6rem);
      font-weight: 300;
      text-transform: capitalize;
      text-align: center; }
    .cart-cupon:focus {
      border-color: 1px solid red;
      outline: 1.35px solid black; }
  .cart-apply, .cart-checkout {
    width: 100%;
    color: white;
    background-color: black;
    font-size: clamp(0.75rem, 1.3vw, 2.6rem);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3rem;
    padding: 1em 2em; }
  .cart-buy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
  .cart-checkout {
    width: 100%; }

@media screen and (max-width: 768px) {
  .cart-content {
    max-height: 45vh; }
  .cart-product {
    grid-template: "image art" auto "info info" auto / 1fr 1fr;
    gap: 0.75rem; }
  .cart-picture {
    max-width: none; }
  .cart-off {
    flex-direction: column; }
  .cart-delete {
    bottom: 0;
    right: 10%; } }

.toastify {
  background: black;
  font-size: clamp(0.85rem, 1.5vw, 3rem);
  font-weight: bold;
  border-radius: 3rem;
  margin: clamp(4rem, 5.5vw, 11rem) 0 0 0; }

.carrousel {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: "info img" auto / 45% 55%; }
  .carrousel-art {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; }
  .carrousel-title {
    font-size: clamp(3rem, 6.5vw, 13rem);
    font-weight: 900; }
  .carrousel-name {
    font-size: clamp(2.25rem, 4.5vw, 10rem);
    font-weight: 900;
    writing-mode: vertical-lr;
    position: absolute;
    left: 15%;
    transform: rotate(180deg); }
  .carrousel-btn {
    color: white;
    background-color: black;
    font-size: clamp(0.75rem, 1.5vw, 3rem);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3rem;
    padding: 1em 3em; }
  .carrousel-picture {
    grid-area: img; }

@media screen and (max-width: 768px) {
  .carrousel-name {
    visibility: hidden; } }

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.25rem, 2.5vw, 5rem);
  padding: 2.5rem clamp(1rem, 3vw, 6rem); }
  .category-title {
    font-size: clamp(2.5rem, 5vw, 10rem);
    font-weight: 900; }
  .category-content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(0.5rem, 1vw, 2rem); }
  .category-art {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: "img info" auto / 1fr 1fr;
    position: relative; }
  .category-picture {
    grid-area: img; }
  .category-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: info; }
  .category-name {
    font-size: clamp(1.5rem, 3vw, 6rem);
    font-weight: 900; }
  .category-year {
    font-size: clamp(3.5rem, 7vw, 14rem);
    font-weight: 900;
    position: absolute;
    opacity: 0.25;
    z-index: -1; }
  .category-description {
    font-size: clamp(0.55rem, 1vw, 2rem);
    font-weight: 450;
    text-transform: capitalize; }

@media screen and (max-width: 525px) {
  .category-content {
    grid-template-columns: 1fr; } }

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.25rem, 2.5vw, 5rem);
  padding: clamp(1.25rem, 2.5vw, 5rem) 0; }
  .products-title {
    font-size: clamp(2.5rem, 5vw, 10rem);
    font-weight: 900; }
  .products-category {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 75%;
    gap: clamp(0.75rem, 1.5vw, 3rem); }
  .products-filter, .products-select {
    font-size: clamp(0.75rem, 1.3vw, 2.6rem);
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 1rem;
    padding: 0.5em 1.5em; }
  .products-optgroup {
    font-size: clamp(0.75rem, 1.5vw, 3rem); }
  .products-option {
    color: black;
    background-color: whitesmoke;
    font-weight: 800; }
  .products-content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(0.5rem, 1vw, 2rem); }
  .products-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(0.75rem, 1.5rem, 3rem);
    gap: clamp(0.5rem, 1vw, 2rem); }
  .products-picture {
    position: relative; }
  .products-price {
    font-size: clamp(1.25rem, 1.5vw, 3rem);
    font-weight: 600;
    position: absolute;
    top: 5%;
    left: 7.5%;
    color: whitesmoke;
    background-color: black;
    transform: rotate(-45deg);
    padding: 0 1em; }
  .products-arrow {
    position: absolute;
    top: 0;
    right: 7.5%;
    width: clamp(2rem, 3vw, 6rem); }
  .products-name {
    font-size: clamp(1.75rem, 2.3vw, 4.6rem);
    font-weight: 800; }
  .products-btn {
    font-size: clamp(0.85rem, 1.3vw, 2.6rem);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 3rem;
    padding: 1em 2em; }
  .products-window {
    width: 100vw;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-primary);
    overflow-y: scroll;
    z-index: 2;
    transition: height 1250ms ease; }
    .products-window::-webkit-scrollbar {
      width: 0.5rem; }
    .products-window-visibility {
      height: 100vh; }
    .products-window-content {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template: "images info" auto / 55% 45%;
      position: relative;
      height: 100%; }
    .products-window-close {
      position: absolute;
      top: 5%;
      right: 5%;
      width: clamp(3rem, 5vw, 10rem);
      z-index: 1; }
    .products-window-picture {
      grid-area: images; }
    .products-window-info {
      grid-area: info;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .products-window-collection, .products-window-color, .products-window-designer, .products-window-location, .products-window-launch {
      opacity: 0;
      font-size: clamp(0.75rem, 1.5vw, 3rem);
      font-weight: bold;
      color: grey; }
    .products-window-name, .products-window-price {
      opacity: 0;
      font-size: clamp(2.5rem, 5vw, 10rem);
      font-weight: bold; }
    .products-window-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: clamp(0.75rem, 1.5vw, 3rem);
      margin: 3rem 0 0 0; }
    .products-window-designer, .products-window-location, .products-window-launch {
      color: grey; }

@media screen and (max-width: 840px) {
  .products-content {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 570px) {
  .products-content {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 900px) {
  .products-window-content {
    grid-template: "images images" auto "info info" auto / 1fr 1fr;
    padding: clamp(0rem, 5vw, 10rem); }
  .products-window-info {
    padding: clamp(0rem, 7.5vw, 15rem); } }

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1.25rem, 2.5vw, 5rem);
  padding: clamp(1.25rem, 2.5rem, 5rem); }
  .faq-title {
    font-size: clamp(2.5rem, 5vw, 10rem);
    font-weight: 900; }
  .faq-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1.5rem, 3vw, 6rem); }
  .faq-li {
    font-size: clamp(1rem, 2.5vw, 5rem);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
  .faq-response {
    color: grey;
    font-size: clamp(0.75rem, 1.5vw, 3rem);
    padding: 1em; }
  .faq-generate {
    font-size: clamp(0.85rem, 1.3vw, 2.6rem);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border-radius: 3rem;
    margin: auto;
    padding: 1em 2em; }
  .faq-order {
    display: none;
    font-size: clamp(2.5rem, 5vw, 10rem); }
    .faq-order-visibility {
      display: block; }
  .faq-strong {
    color: black; }
